FAVICON ICON "src/server/config/default/favicon.ico"  

// rustup install nightly-msvc    安装工具链(stable-gnu,beta-gnu..)
// rustup default nightly-msvc    切换工具链

// rustup toolchain install nightly-x86_64-pc-windows-gnu
// rustup toolchain install nightly-i686-pc-windows-msvc

// rustup target add i686-pc-windows-msvc  添加目标平台
// rustup target add x86_64-pc-windows-gnu
// cargo build --release --target=i686-pc-windows-msvc     编译时指定平台
// cargo build --release --target=x86_64-pc-windows-msvc 
// cargo build --release --target=x86_64-pc-windows-gnu

// Refrence:
//     http://blog.csdn.net/baidu_24190413/article/details/47430551
//    https://linux.die.net/man/1/i686-pc-mingw32-windres
//    pe是windows的，elf是linux的，
//  windres favicon.rc favicon.o 
//  windres favicon.rc -o favicon.o  --target pe-x86-64
//  windres favicon.rc -o favicon.o  --target pe-i386 