html {
    font-family: "Source Han Sans CN", Arial, sans-serif;
}

body {
    padding: 0;
    background: #FFFFFF;
    font-size: medium;
    color: #333333;
}

h1 {
    font-size: x-large;
    font: bold;
    text-align: left;
}


/* h1 client addr*/

#client {
    text-align: right;
    color: #FF6600;
}

input {
    font: medium;
    color: #333333;
}

a {
    text-decoration: none;
    color: #356AA0;
}

a:hover {
    text-decoration: none;
    color: #CC0000;
}

address {
    font-size: x-large;
}