(
    name: "fht2p",
    version: "0.9",
    author: "Wspsxing <biluohc@qq.com>",
    desc: "HTTP Server for Static File written with Rust",
    repo: "https://github.com/biluohc/fht2p",
    encoding: "utf8",

    setting: (
        keepAlive: true,
        cacheSecs: 30,

        // if file not have extname, pragram will to detect conten-type by read it if magic_limic big than the size of file.
        magicLimit: 10485760, // 10 M

        // 0.0.0.0 is default listenning address, 8080 is default port.
        // fht2p will try to use the next one when the current one can not use, pramgram will exit if all failed.
        addrs: [
            "0.0.0.0:8081",
            "0.0.0.0:8000",
            "127.0.0.1:0",
        ],
        cert: Some (
            (
                pub: "/Users/biluohc/Documents/git/fht2p/cert/rsa_public_key.pem",
                key: "/Users/biluohc/Documents/git/fht2p/cert/rsa_private_key.pem",
            )
        ),
    ),
    routes: {
        // ./ is default "/" of, "/" must exist.
        "/": (
            path: "/Users/biluohc/Downloads/tmp",
            redirectHtml: false,
            followLinks: true,
            authorized: false,
        ),
        "/cargo/": (
            path: "/Users/biluohc/Downloads/tmp/cargo/",
            redirectHtml: true,
            followLinks: true,
            authorized: false,
        ),
        "/rust/": (
            path: "/Users/biluohc/.rustup//toolchains/nightly-x86_64-apple-darwin/share/doc/rust/html/",
            redirectHtml: true,
            followLinks: true,
            authorized: false,
        ),
    },
)
